<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!--Подключение CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <!--Создаём основной шаблон, который будет включать меню и место для отображения флеш-сообщений-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a href="{{ url_for('home') }}">Home</a>&nbsp;&nbsp;&nbsp;</li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="{{ url_for('account') }}">Account</a>&nbsp;&nbsp;&nbsp;</li>
                <li class="nav-item"><a href="{{ url_for('modify') }}">Modify</a>&nbsp;&nbsp;&nbsp;</li>
                <li class="nav-item"><a href="{{ url_for('logout') }}">Logout</a>&nbsp;&nbsp;&nbsp;</li>
            {% else %}
                <li class="nav-item"><a href="{{ url_for('login') }}">Login</a>&nbsp;&nbsp;&nbsp;</li>
                <li class="nav-item"><a href="{{ url_for('register') }}">Register</a>&nbsp;&nbsp;&nbsp;</li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% block content %}

        {% endblock %}
    </div>

    <!--Подключение JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>